* {
  /* border: dotted red 1px; */
  box-sizing: border-box;
}
#backg {
  height: 100vh;
  background-color: #27374d;
}
h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: aliceblue;
}
#backg1 {
  background-color: rgb(30, 31, 31);
  width: 50%;
  display: inline-block;
}
#profpic {
  width: 100%;
  height: 920px;
  margin-top: 80px;
}
#name1 {
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 10%;
}
#name2 {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 40%;
}
p,
h3 {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(166, 213, 247);
}
#name3 {
  position: absolute;
  top: 48%;
  left: 40%;
}
li {
  font-size: 30px;
  color: aliceblue;
  font-style: italic;
  list-style: none;
}
#name4 {
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 40%;
}
#dota {
  width: 30%;
  height: 50%;
  margin-right: 30px;
}
#dota:hover {
  width: 31%;
  height: 51%;
  transition: 0.5s;
}
#dev {
  width: 31%;
}
#dev:hover {
  width: 32%;
  transition: 0.5s;
}
#name5 {
  display: inline-block;
}
button {
  position: absolute;
  bottom: 100px;
  right: 150px;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: #27374d;
}
button:hover {
  background-color: #47638a;
  transition: 0.5s;
  color: rgb(144, 155, 160);
}
.boldcolor {
  color: rgb(101, 104, 107);
}
#pwidth {
  width: 95%;
}
#famname {
  color: rgb(140, 145, 150);
  font-size: 100px;
}
a {
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: rgb(167, 173, 179);
}
#buttonlast {
  background-color: #233144;
  padding: 10px 20px;
  position: absolute;
  bottom: 100px;
  right: 150px;
  border-radius: 10px;
  border: #121a24 solid 1px;
}
#buttonlast:hover {
  background-color: #47638a;
  transition: 0.5s;
  color: rgb(144, 155, 160);
  border: #47638a solid 1px;
}
